<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" style="margin-bottom: 20px;">
        {% csrf_token %}
        {{ form.as_p }}

        

        <button type="submit">Enviar</button>
    </form>
    <a href="/"  style="background-color:greenyellow;color: rgb(0, 91, 101); text-decoration: none; margin-top: 20px; padding: 8px;">
        <span>
                Voltar
        </span>
    </a>
</body>
</html>