
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista do que fazer</title>
</head>
<style>
    h1{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h2{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body{
        background-color: rgb(140, 241, 157);
    }
</style>
<body>
    <br><br>
    <form action={% url 'core:cadastro' %} novalidate method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Cadastro de Atividade | To-Do List</h3>
        Nome da Atividade: {{ form_tarefa.tarefa }}
        <br>
        Insira a data:
        <input type="date" value=" {{ form_atividade.data_atividade }}">
        <br>
        <input type="submit" value="Cadastro">
    </form>

    <a href="/"><button>Home</button></a>
</body>